<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>hello i am an index page!</h1>
    {% for user in users %}
    <h2>this is the variable {{user.email}}</h2>
    {% endfor %}
    
    <form action="/" method="post" target="_blank">
        {% csrf_token %}
        <label for="email">email:</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="password">password:</label>
        <input type="text" id="password" name="password"><br><br>
        <!-- <label for="isapproved">isapproved:</label>
        <input type="text" id="isapproved" name="isapproved"><br><br> -->
        <input type="submit" value="Submit">
    </form>
    <form action="/" method="post" target="_blank">
        {% csrf_token %}
        <label for="id">id:</label>
        <input type="text" id="id" name="id"><br><br>
        <input type="submit" value="delete">
    </form>
</body>
</html>